<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ИС_Учёт_времени.Properties.Settings.istimemanagementConnectionString"
            connectionString="server=localhost;user id=root;password=s1mbaf1mB;persistsecurityinfo=True;database=istimemanagement"
            providerName="MySql.Data.MySqlClient" />
        <add name="ИС_Учёт_времени.Properties.Settings.istm_user" connectionString="server=localhost;user id=root;password=wylm4e;persistsecurityinfo=True;database=istm"
            providerName="MySql.Data.MySqlClient" />
        <add name="ИС_Учёт_времени.Properties.Settings.istmConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=istm"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>